*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.result-zone {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin: 10px;
  gap: 10px;
}

.resume-button {
  margin-left: 10px;
}


